            <div class="infoTitle">
              <h2>{{ title }}</h2>
            </div>
            <div class="bookingForm">
              <form action="" method="POST" role="form" class="form">
                <div class="row">
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="">Nombre del Tour</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="">Dias del tour</label>
                    <input type="datetime" class="form-control">
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="">Fecha de Inicio</label>
                    <input type="date" class="form-control">
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="">Fecha de Fin</label>
                    <input type="date" class="form-control">
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="">Precio</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="">Descuento</label>
                    <input type="text" class="form-control">
                  </div>

                  <div class="form-group col-xs-12">
                    <label for="">Descripcion</label>
                    <textarea class="form-control"></textarea>
                  </div>
                  <div class="col-xs-12">
                    <div class="buttonArea galleryBtnArea">
                      <ul class="list-inline">
                        <li><a href="#" class="btn buttonTransparent">limpiar campos</a></li>
                        <li class="pull-right"><a href="booking-2.html" class="btn buttonTransparent">guardar</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </form>
            </div>
