<section class="bannercontainer">
    <div class="rev_slider_wrapper fullscreen-container" data-alias="christmas-snow-scene" data-source="gallery" id="rev_slider_wrapper3" style="background-color:transparent;padding:0px;">
        <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
        <div class="rev_slider fullscreenbanner" data-version="5.4.1" id="rev_video_slider" style="display:none;">
            <ul>
                <!-- LAYERS -->
                <!-- BACKGROUND VIDEO LAYER -->
                <li data-description="" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-2896" data-masterspeed="3000" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="../../assets/images/vimeobg-100x50.jpg" data-title="Intro" data-transition="zoomout">
                    <!-- MAIN IMAGE -->
                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-no-retina="" src="img/home/slider/slider-07.jpg">
                        <!-- LAYERS -->
                        <!-- BACKGROUND VIDEO LAYER -->
                        <div class="rs-background-video-layer" data-aspectratio="4:3" data-autoplay="true" data-autoplayonlyfirsttime="false" data-forcecover="1" data-forcerewind="on" data-videoattributes="background=1&title=0&byline=0&portrait=0&api=1" data-videocontrols="none" data-videoendat="00:48" data-videoheight="100%" data-videoloop="loop" data-videostartat="00:00" data-videowidth="870px" data-vimeoid="23237102" data-volume="mute">
                        </div>
                    
                </li>
            </ul>
        </div>
        <!-- END REVOLUTION SLIDER -->
    </div>
</section>