		<div class="row">
          <div class="col-sm-4 col-sm-push-8 col-xs-12">
            <aside>
              <div class="bookDetailsInfo">
                <img src="{{ url + 'get-image-hotel/' + reservahotel.hotel.image }}" alt="image">
                <div class="infoArea">
                  <h3>{{ reservahotel.hotel.nombre }}</h3>
                  <ul class="list-unstyled">
                    <li><i class="fa fa-calendar" aria-hidden="true"></i>Inicio:  <span>{{ reservahotel.fechaentrada | date : shortDate }}</span></li>
                    <li><i class="fa fa-calendar" aria-hidden="true"></i>Fin:  <span>{{ reservahotel.fechasalida | date : shortDate }}</span></li>
                    <li><i class="fa fa-user" aria-hidden="true"></i>Personas:  <span>{{ reservahotel.numAdultos }} Adultos,  {{ reservahotel.numInfantiles }} Niños</span></li>
                  </ul>
                  <div class="priceTotal">
                    <h2>Total: <span>{{ reservahotel.preciototal }}€</span></h2>
                  </div>
                </div>
              </div>
            </aside>
          </div>
          <div class="col-sm-8 col-sm-pull-4 col-xs-12">
            <div class="infoTitle">
              <h2>Detalle de la Reserva de HOTEL</h2>
            </div>
            <div class="bookingForm">
              <form action="" method="POST" role="form" class="form">
                <div class="row">
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control" id="" value="{{ reservahotel.user.nombre }}" disabled>
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="">Apellidos</label>
                    <input type="text" class="form-control" id="" value="{{ reservahotel.user.apellidos }}" disabled>
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="">Direccion</label>
                    <input type="text" class="form-control" id="" value="{{ reservahotel.user.direccion }}" disabled>
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="">Codigo Postal</label>
                    <input type="text" class="form-control" id="" value="{{ reservahotel.user.cp }}" disabled>
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="">Telefono</label>
                    <input type="text" class="form-control" id="" value="{{ reservahotel.user.telefono }}" disabled>
                  </div>
                  <div class="form-group col-sm-6 col-xs-12">
                    <label for="">Email</label>
                    <input type="text" class="form-control" id="" value="{{ reservahotel.user.email }}" disabled>
                  </div>

                  <div class="col-xs-12">
                    <div class="buttonArea galleryBtnArea">
                      <ul class="list-inline">
                      	<li><a [routerLink]="['/admin-panel/listado-reservas']" class="btn buttonTransparent">atras</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>