<!-- PACKAGE SAlE SECTION -->
<section class="packageSAleSection ptb-100" style="background-image: url(img/home-destination/package-sale-bg.jpg);" >
  <div class="container">
    <div class="sectionTitleHomeCity2">
      <h2>50% OFF SALE</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing <br>
        elit, sed do eiusmod tempor.</p>
    </div>
    <div class="buttonSale">
      <a href="booking-1.html" class="btn buttonCustomPrimary">Book now</a>
      <a href="single-package-right-sidebar.html" class="btn buttonTransparent">Explor tour </a>
    </div>
  </div>
</section>