<!-- OUR PACKAGES SECTION -->
<section class="ourPackagesSection ptb-100">
  <div class="container">
    <div class="sectionTitleHomeCity">
      <h2>Nuestros tours</h2>
      <p>selecciona un tour para verlo en detalle</p>
    </div>
    <div class="row">
      <div class="col-sm-4 col-xs-12" *ngFor="let tour of tours">
        <div class="ourPackage">
          <div class="ourPackageImg">
            <img src="{{ url + 'get-image-tour/' + tour.image }}" alt="">
          </div>
          <div class="ourPackageContent">
            <h4>{{ tour.nombre }}</h4>
            <p>{{ tour.descripcion }} desde <span>{{ tour.precio }}€</span> </p>
            <a [routerLink]="['/tour', tour._id]" class="btn buttonCustomPrimary">Reserva Ahora</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>