<!-- BRAND SLIDER SECTION -->
<section class="brandSliderSection bg-ash">
  <div class="container">
    <div class="brandSlider">
      <div class="singleItem">
        <img src="img/home-destination/slider/logo-01.png" alt="image">
      </div>
      <div class="singleItem">
        <img src="img/home-destination/slider/logo-02.png" alt="image">
      </div>
      <div class="singleItem">
        <img src="img/home-destination/slider/logo-03.png" alt="image">
      </div>
      <div class="singleItem">
        <img src="img/home-destination/slider/logo-04.png" alt="image">
      </div>
      <div class="singleItem">
        <img src="img/home-destination/slider/logo-01.png" alt="image">
      </div>
      <div class="singleItem">
        <img src="img/home-destination/slider/logo-02.png" alt="image">
      </div>
      <div class="singleItem">
        <img src="img/home-destination/slider/logo-03.png" alt="image">
      </div>
      <div class="singleItem">
        <img src="img/home-destination/slider/logo-04.png" alt="image">
      </div>
    </div>
  </div>
</section>