    <!-- PAGE TITLE -->
    <section class="pageTitle" style="background-image:url(assets/img/pages/page-title-bg8.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="titleTable">
              <div class="titleTableInner">
                <div class="pageTitleInfo">
                  <h1>Galería</h1>
                  <div class="under-border"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

	<!-- WHITE SECTION FILTER-->
    <section class="mainContentSection">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="filter-container isotopeFilters">
              <ul class="list-inline filter">
                <li class="active"><a href="#" data-filter="*">todos los lugares</a></li>
                <li><a href="#" data-filter=".asia">asia</a></li>
                <li><a href="#" data-filter=".america">américa</a></li>
                <li><a href="#" data-filter=".europe">europa</a></li>
                <li><a href="#" data-filter=".africa">áfrica</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row isotopeContainer" id="container">
          <div class="col-sm-4 isotopeSelector asia">
            <article class="">
              <figure>
                <img src="assets/img/packages/masonry-01.jpg" alt="image">
                <div class="overlay-background">
                  <div class="inner"></div>
                </div>
                <div class="overlay galleryMasonry">
                  <a class="fancybox-pop" rel="portfolio-1" href="assets/img/packages/masonry-01.jpg">
                    <span class="overlayInfo">
                      <h2>maldives tour</h2>
                      <p>Lorem Ipsum</p>
                      <button class="btn buttonTransparent" type="button">ver mas</button>
                    </span>
                  </a>
                </div>
              </figure>
            </article>
          </div>

          <div class="col-sm-4 isotopeSelector america">
            <article class="">
              <figure>
                <img src="assets/img/packages/masonry-02.jpg" alt="image">
                <div class="overlay-background">
                  <div class="inner"></div>
                </div>
                <div class="overlay galleryMasonry">
                  <a class="fancybox-pop" rel="portfolio-1" href="assets/img/packages/masonry-02.jpg">
                    <span class="overlayInfo">
                      <h2>maldives tour</h2>
                      <p>Lorem Ipsum</p>
                      <button class="btn buttonTransparent" type="button">ver mas</button>
                    </span>
                  </a>
                </div>
              </figure>
            </article>
          </div>

          <div class="col-sm-4 isotopeSelector africa">
            <article class="">
              <figure>
                <img src="assets/img/packages/masonry-03.jpg" alt="image">
                <div class="overlay-background">
                  <div class="inner"></div>
                </div>
                <div class="overlay galleryMasonry">
                  <a class="fancybox-pop" rel="portfolio-1" href="assets/img/packages/masonry-03.jpg">
                    <span class="overlayInfo">
                      <h2>maldives tour</h2>
                      <p>Lorem Ipsum</p>
                      <button class="btn buttonTransparent" type="button">ver mas</button>
                    </span>
                  </a>
                </div>
              </figure>
            </article>
          </div>

          <div class="col-sm-4 isotopeSelector asia">
            <article class="">
              <figure>
                <img src="assets/img/packages/masonry-04.jpg" alt="image">
                <div class="overlay-background">
                  <div class="inner"></div>
                </div>
                <div class="overlay galleryMasonry">
                  <a class="fancybox-pop" rel="portfolio-1" href="assets/img/packages/masonry-04.jpg">
                    <span class="overlayInfo">
                      <h2>maldives tour</h2>
                      <p>Lorem Ipsum</p>
                      <button class="btn buttonTransparent" type="button">ver mas</button>
                    </span>
                  </a>
                </div>
              </figure>
            </article>
          </div>

          <div class="col-sm-4 isotopeSelector europe">
            <article class="">
              <figure>
                <img src="assets/img/packages/masonry-07.jpg" alt="image">
                <div class="overlay-background">
                  <div class="inner"></div>
                </div>
                <div class="overlay galleryMasonry">
                  <a class="fancybox-pop" rel="portfolio-1" href="assets/img/packages/masonry-07.jpg">
                    <span class="overlayInfo">
                      <h2>maldives tour</h2>
                      <p>Lorem Ipsum</p>
                      <button class="btn buttonTransparent" type="button">ver mas</button>
                    </span>
                  </a>
                </div>
              </figure>
            </article>
          </div>

          <div class="col-sm-4 isotopeSelector europe">
            <article class="">
              <figure>
                <img src="assets/img/packages/masonry-06.jpg" alt="image">
                <div class="overlay-background">
                  <div class="inner"></div>
                </div>
                <div class="overlay galleryMasonry">
                  <a class="fancybox-pop" rel="portfolio-1" href="assets/img/packages/masonry-06.jpg">
                    <span class="overlayInfo">
                      <h2>maldives tour</h2>
                      <p>Lorem Ipsum</p>
                      <button class="btn buttonTransparent" type="button">ver mas</button>
                    </span>
                  </a>
                </div>
              </figure>
            </article>
          </div>

          <div class="col-sm-4 isotopeSelector america">
            <article class="">
              <figure>
                <img src="assets/img/packages/masonry-05.jpg" alt="image">
                <div class="overlay-background">
                  <div class="inner"></div>
                </div>
                <div class="overlay galleryMasonry">
                  <a class="fancybox-pop" rel="portfolio-1" href="assets/img/packages/masonry-05.jpg">
                    <span class="overlayInfo">
                      <h2>maldives tour</h2>
                      <p>Lorem Ipsum</p>
                      <button class="btn buttonTransparent" type="button">ver mas</button>
                    </span>
                  </a>
                </div>
              </figure>
            </article>
          </div>

          <div class="col-sm-4 isotopeSelector africa">
            <article class="">
              <figure>
                <img src="assets/img/packages/masonry-08.jpg" alt="image">
                <div class="overlay-background">
                  <div class="inner"></div>
                </div>
                <div class="overlay galleryMasonry">
                  <a class="fancybox-pop" rel="portfolio-1" href="assets/img/packages/masonry-08.jpg">
                    <span class="overlayInfo">
                      <h2>maldives tour</h2>
                      <p>Lorem Ipsum</p>
                      <button class="btn buttonTransparent" type="button">ver mas</button>
                    </span>
                  </a>
                </div>
              </figure>
            </article>
          </div>

          <div class="col-sm-4 isotopeSelector asia">
            <article class="">
              <figure>
                <img src="assets/img/packages/masonry-09.jpg" alt="image">
                <div class="overlay-background">
                  <div class="inner"></div>
                </div>
                <div class="overlay galleryMasonry">
                  <a class="fancybox-pop" rel="portfolio-1" href="assets/img/packages/masonry-09.jpg">
                    <span class="overlayInfo">
                      <h2>maldives tour</h2>
                      <p>Lorem Ipsum</p>
                      <button class="btn buttonTransparent" type="button">ver mas</button>
                    </span>
                  </a>
                </div>
              </figure>
            </article>
          </div>

        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="paginationCenter paginationTransparent">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Anterior</span>
                  </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">9</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">Siguiente<i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>



    <app-footer></app-footer>
