<div class="thumbnail blogSinglePost">
    <div class="recentActivityContent bg-ash">

		<div class="dashboardPageTitle">
			<h2>Busqueda de Reservas de Tours</h2>
			<div class="input-group">
				<input type="text" class="form-control" [(ngModel)]="busqueda">
				<span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
			</div>
			<br>
<!-- 			<div *ngIf="busqueda">
				{{ busqueda }}	
			</div> -->
			
		</div>              
		<div class="dashboardPageTitle">
			<h2>Todas las Reservas de Tours</h2>
		</div>
           		
		<div class="table-responsive"  data-pattern="priority-columns">
			<table class="table listingsTable">
				<tbody>
					<tr class="rowItem" *ngFor="let reserva of reservastours">
					
<!--                   		<td class="packageTd">
  							<ul class="list-inline listingsInfo">
  								<li>
  									<h4><a href="#">{{ reserva.tour.nombre }} </a></h4>
                        			<p>{{ reserva.tour.descripcion }}</p>
  								</li>
  							</ul>
						</td>
					    <td class="priceTd">
							<ul class="list-inline  text-right">
								<li>
									<p>Fecha de Compra:</p><h5> {{ reserva.fechaVenta | date : shortDate }}</h5>
								</li>									
								<li>
									<p>Fecha de Inicio:</p><h5> {{ reserva.fechainicio | date : shortDate }}</h5>
								</li>
								<li>
									<p>Fecha de Fin:</p><h5>{{ reserva.fechafin | date : shortDate }}</h5>
								</li>			  										
							</ul>
						</td>
						<td class="bookingTd">
					        <ul class="list-inline listingsInfo text-left">
								<li>
                                    <a href=""><h4><span class="glyphicon glyphicon-eye-open"></span> VER</h4></a><br>
						            <a href="/user-panel/reservas-tours"><h4><span class="glyphicon glyphicon-trash"></span> BORRAR</h4></a>
								</li>
							</ul>
						</td>
					</tr> -->

						<td class="dateTd">
							<div class="date">
								{{ reserva.fechainicio | date : "dd" }} <span>{{ reserva.fechainicio | date : "MMM" }}</span>
							</div>
						</td>
						<td class="iconTd">
							<div class="icon br-orange">
								<i class="fa fa-plane" aria-hidden="true"></i>
							</div>
						</td>
						<td class="packageTd">
							<ul class="list-inline listingsInfo">
								<li>
									<h4><a href="#">{{ reserva.tour.nombre}}</a></h4>
		    						<p>{{ reserva.numAdultos }} Adultos /  {{ reserva.numInfantiles }} Niños</p>
								</li>
							</ul>
						</td>
						<td class="iconTd">
							<ul class="list-inline listingsInfo text-right">
								<li>
									<h3>{{ reserva.preciototal }}€</h3>
            						
								</li>
							</ul>
						</td>
						<td class="bookingTd">
						    <ul class="list-inline listingsInfo text-left">
								<li>
									<h4>ID RESERVA</h4>
						            <p>{{ reserva._id }}</p>
						            <h4>FECHA COMPRA</h4>
						            <p>{{ reserva.fechaVenta | date : shortDate }}</p>
								</li>
							</ul>
						</td>
						<td class="bookingTd">
					        <ul class="list-inline listingsInfo text-left">
								<li>
                                    <a [routerLink]="['/user-panel/detalle-reserva', reserva._id]"><h4><span class="glyphicon glyphicon-eye-open"></span> VER</h4></a><br>
						            <a href="/user-panel/reservas-tours" (click)="deleteReservaTour(reserva._id)"><h4><span class="glyphicon glyphicon-trash"></span> CANCELAR</h4></a>
								</li>
							</ul>
						</td>						
					</tr>					
				</tbody>
			</table>
		</div>
    </div>
</div>
