<!-- OUR PACKAGES SECTION -->
<section class="ourPackagesSection ptb-100">
  <div class="container">
    <div class="sectionTitleHomeCity">
      <h2>our packages</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="ourPackage">
          <div class="ourPackageImg">
            <img src="img/home/packages/our-packages-01.jpg" alt="">
          </div>
          <div class="ourPackageContent">
            <h4>maldives tour</h4>
            <p>4 days, 5 nights start from <span>$1000</span> </p>
            <a href="booking-1.html" class="btn buttonCustomPrimary">Book Now</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="ourPackage">
          <div class="ourPackageImg">
            <img src="img/home/packages/our-packages-02.jpg" alt="">
          </div>
          <div class="ourPackageContent">
            <h4>London tour</h4>
            <p>4 days, 5 nights start from <span>$1000</span> </p>
            <a href="booking-1.html" class="btn buttonCustomPrimary">Book Now</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="ourPackage">
          <div class="ourPackageImg">
            <img src="img/home/packages/our-packages-03.jpg" alt="">
          </div>
          <div class="ourPackageContent">
            <h4>Paris tour</h4>
            <p>4 days, 5 nights start from <span>$1000</span> </p>
            <a href="booking-1.html" class="btn buttonCustomPrimary">Book Now</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="ourPackage">
          <div class="ourPackageImg">
            <img src="img/home/packages/our-packages-04.jpg" alt="">
          </div>
          <div class="ourPackageContent">
            <h4>Mexico tour</h4>
            <p>4 days, 5 nights start from <span>$1000</span> </p>
            <a href="booking-1.html" class="btn buttonCustomPrimary">Book Now</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="ourPackage">
          <div class="ourPackageImg">
            <img src="img/home/packages/our-packages-05.jpg" alt="">
          </div>
          <div class="ourPackageContent">
            <h4>America tour</h4>
            <p>4 days, 5 nights start from <span>$1000</span> </p>
            <a href="booking-1.html" class="btn buttonCustomPrimary">Book Now</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="ourPackage">
          <div class="ourPackageImg">
            <img src="img/home/packages/our-packages-06.jpg" alt="">
          </div>
          <div class="ourPackageContent">
            <h4>Rome tour</h4>
            <p>4 days, 5 nights start from <span>$1000</span> </p>
            <a href="booking-1.html" class="btn buttonCustomPrimary">Book Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>