<!-- NEXT TRAVEL SECTION -->
<section class="nextTravelSection ptb-100" style="background-image: url(/assets/img/home-destination/offer-section-bg.jpg);" >
  <div class="container">
    <div class="sectionTitleHomeCity2">
      <h2>Descuentos en Viajes</h2>
      <p>Travel between 22nd August to 23 November and get exciting <br>
        offers along with a sure 10% cash discount.</p>
    </div>
    <div class="content">
      <ul class="nextTravelContent">
        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>Get exciting offers along with a sure 10% cash discount.</li>
        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>Sed do eiusmod tempor</li>
        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>3000 Adipisicing elit sed do eiusmod</li>
        <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>Fugiat nulla pariatur.</li>
      </ul>
      <a href="single-package-right-sidebar.html" class="btn buttonCustomPrimary">view details</a>
    </div>
  </div>
</section>