<!-- TRAVEL TIPS THUMBNAIL SAlE SECTION -->
<section class="travelTipsThumbanail ptb-100" >
  <div class="container">
    <div class="sectionTitleHomeCity">
      <h2>Consejos de Viajes</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <a href="blog-single-right-sidebar.html"><img src="/assets/img/home-destination/destination/get-city-img-01.jpg" alt="Image"></a>
          <div class="caption">
            <a href="blog-single-right-sidebar.html"><h3>euismod nonummy nibh diam consect etuer adipiscing</h3></a>
            <div class="meta-content">
              <a href=""><i class="fa fa-user-o" aria-hidden="true"></i>by Admin</a>
              <a href="blog-single-right-sidebar.html"><i class="fa fa-comments-o" aria-hidden="true"></i>Comments 02</a>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing sed do eiusmodtempor incididunt ut laboet dolore magna aliqua Ut enim ad minim veniam</p>
            <a class="readMoreBtn" href="blog-single-right-sidebar.html">read more</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <a href="blog-single-right-sidebar.html"><img src="/assets/img/home-destination/destination/get-city-img-02.jpg" alt="Image"></a>
          <div class="caption">
            <a href="blog-single-right-sidebar.html"><h3>euismod nonummy nibh diam consect etuer adipiscing</h3></a>
            <div class="meta-content">
              <a href=""><i class="fa fa-user-o" aria-hidden="true"></i>by Admin</a>
              <a href="blog-single-right-sidebar.html"><i class="fa fa-comments-o" aria-hidden="true"></i>Comments 02</a>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing sed do eiusmodtempor incididunt ut laboet dolore magna aliqua Ut enim ad minim veniam</p>
            <a class="readMoreBtn" href="blog-single-right-sidebar.html">read more</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <a href="blog-single-right-sidebar.html"><img src="/assets/img/home-destination/destination/get-city-img-03.jpg" alt="Image"></a>
          <div class="caption">
            <a href="blog-single-right-sidebar.html"><h3>euismod nonummy nibh diam consect etuer adipiscing</h3></a>
            <div class="meta-content">
              <a href=""><i class="fa fa-user-o" aria-hidden="true"></i>by Admin</a>
              <a href="blog-single-right-sidebar.html"><i class="fa fa-comments-o" aria-hidden="true"></i>Comments 02</a>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing sed do eiusmodtempor incididunt ut laboet dolore magna aliqua Ut enim ad minim veniam</p>
            <a class="readMoreBtn" href="blog-single-right-sidebar.html">read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>