
<h4>LISTADO DE USUARIOS</h4>
<table >
  <thead>
    <tr>
      <th align="center">NOMBRE</th>
      <th align="center">APELLIDOS</th>
      <th align="center">DIRECCION</th>
      <th align="center">TELEFONO</th>
      <th align="center">EMAIL</th>
      <th align="center">PASSWORD</th>
      <th align="center">ROL</th>
      <th align="center">CIUDAD</th>
      <th align="center">CP</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios">     
      <td align="center">
        {{usuario.nombre}}
      </td>
      <td align="center">
        {{usuario.apellidos}}
      </td>
      <td align="center">
        {{usuario.direccion}}
      </td>
      <td align="center">
        {{usuario.telefono}}
      </td>
      <td align="center">
        {{usuario.email}}
      </td>
      <td width="150" align="center">
        {{usuario.password}}
      </td>
      <td align="center">
        {{usuario.rol}}
      </td>
      <td align="center">
        {{usuario.ciudad}}
      </td>
      <td align="center">
        {{usuario.cp}}
      </td>                   
    </tr>
  </tbody>
</table>