<!-- TOP HOTEL SECTION -->
<section class="topHotelSection ptb-100">
  <div class="container">
    <div class="sectionTitleHomeCity">
      <h2>TOP Hoteles</h2>
      <p>Descubre los mejores hoteles</p>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-4 col-xs-12" *ngFor="let hotel of hotels">
        <div class="thumbnail deals">
          <img src="{{ url + 'get-image-hotel/' + hotel.image }}" alt="Hotel-image">
          <a [routerLink]="['/hotel', hotel._id]" class="pageLink"></a>
          <div class="discountInfo discountCol-3">
            <div class="discountOffer">
              <h4>
                {{ hotel.descuento }} % <span> OFF</span>
              </h4>
            </div>
            <ul class="list-inline duration">
              <li>{{ hotel.categoria }} <i class="fa fa-star" aria-hidden="true"></i></li>
            </ul>
          </div>          
          <div class="caption">
          <a [routerLink]="['/hotel', hotel._id]" class="captionTitle"><h4>{{ hotel.nombre }}</h4></a> 
            <p>{{ hotel.descripcion }}</p>
            <div class="detailsInfo">
              <br>
              <h5>
                <span>Comienza en </span>
                {{ hotel.preciosimple }} €
              </h5>

              <ul class="list-inline detailsBtn">
                <li><a [routerLink]="['/hotel', hotel._id]" class="btn buttonTransparent">Reserva Ya</a></li>
                <li><a href="#" class="btn buttonTransparent"><i class="fa fa-map-marker" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>