<div class="thumbnail blogSinglePost">
    <div class="recentActivityContent bg-ash">            
		<div class="dashboardPageTitle">
			<h2>Informacion de Reservas</h2>
		</div>

		<section class="blockSection">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-4 col-sm-6 col-xs-12">
		                <div class="content-block">
		                    <div class="media bg-blue-c">
		                        <div class="media-body ">
		                            <h4 class="media-heading">
		                                15
		                            </h4>
		                            <p>
		                                Paquetes TOUR
		                            </p>
		                        </div>
		                        <div class="media-right ">
		                            <div class="icon bg-blue-b">
		                                <i aria-hidden="true" class="fa fa-plane">
		                                </i>
		                            </div>
		                        </div>
		                    </div>
		                    <a class="btn btn-content bg-blue-b" [routerLink]="['/admin-panel/listado']">
		                        Listado de Tours
		                        <i class="fa fa-long-arrow-right">
		                        </i>
		                    </a>
		                </div>
		            </div>
		            <div class="col-md-4 col-sm-6 col-xs-12">
		                <div class="content-block">
		                    <div class="media bg-red-c">
		                        <div class="media-body">
		                            <h4 class="media-heading">
		                                20
		                            </h4>
		                            <p>
		                                Hoteles
		                            </p>
		                        </div>
		                        <div class="media-right">
		                            <div class="icon bg-red-b">
		                                <i aria-hidden="true" class="fa fa-hotel">
		                                </i>
		                            </div>
		                        </div>
		                    </div>
		                    <a class="btn btn-content bg-red-b" [routerLink]="['/admin-panel/listadohoteles']">
		                        Listado de Hoteles
		                        <i class="fa fa-long-arrow-right">
		                        </i>
		                    </a>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>

		<section class="blockSection">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-4 col-sm-6 col-xs-12">
		                <div class="content-block">
		                    <div class="media bg-green-c">
		                        <div class="media-body">
		                            <h4 class="media-heading">
		                                3,502
		                            </h4>
		                            <p>
		                                Reservas de TOURS
		                            </p>
		                        </div>
		                        <div class="media-right">
		                            <div class="icon bg-green-b">
		                                <i aria-hidden="true" class="fa fa-plane">
		                                </i>
		                            </div>
		                        </div>
		                    </div>
		                    <a class="btn btn-content bg-green-b" href="">
		                        Ver reservas de Tours
		                        <i class="fa fa-long-arrow-right">
		                        </i>
		                    </a>
		                </div>
		            </div>
		            <div class="col-md-4 col-sm-6 col-xs-12">
		                <div class="content-block">
		                    <div class="media bg-orange-c">
		                        <div class="media-body">
		                            <h4 class="media-heading">
		                                3,502
		                            </h4>
		                            <p>
		                                Reservas de Hoteles
		                            </p>
		                        </div>
		                        <div class="media-right">
		                            <div class="icon bg-orange-b">
		                                <i aria-hidden="true" class="fa fa-car">
		                                </i>
		                            </div>
		                        </div>
		                    </div>
		                    <a class="btn btn-content bg-orange-b" href="">
		                        Ver reservas de Hoteles
		                        <i class="fa fa-long-arrow-right">
		                        </i>
		                    </a>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>
		
		<section class="blockSection">
			<div class="dashboardPageTitle">
				<h2>Todas las Reservas de Tours</h2>
			</div>
			<div class="table-responsive"  data-pattern="priority-columns">
				<table class="table listingsTable">
					<tbody>
						<tr class="rowItem" *ngFor="let reserva of reservastours">
							<td class="dateTd">
								<div class="date">
									{{ reserva.fechainicio | date : "dd" }} <span>{{ reserva.fechainicio | date : "MMM" }}</span>
								</div>
							</td>
							<td class="iconTd">
								<div class="icon br-orange">
									<i class="fa fa-plane" aria-hidden="true"></i>
								</div>
							</td>
							<td class="packageTd">
								<ul class="list-inline listingsInfo">
									<li>
										<h4><a href="#">{{ reserva.tour.nombre}}</a></h4>
			    						<p>{{ reserva.numAdultos }} Adultos /  {{ reserva.numInfantiles }} Niños</p>
									</li>
								</ul>
							</td>
							<td class="iconTd">
								<ul class="list-inline listingsInfo text-right">
									<li>
										<h3>{{ reserva.preciototal }}€</h3>
	            						
									</li>
								</ul>
							</td>
							<td class="bookingTd">
							    <ul class="list-inline listingsInfo text-left">
									<li>
										<h4>ID RESERVA</h4>
							            <p>{{ reserva._id }}</p>
							            <h4>FECHA COMPRA</h4>
							            <p>{{ reserva.fechaVenta | date : shortDate }}</p>
									</li>
								</ul>
							</td>
							<td class="bookingTd">
						        <ul class="list-inline listingsInfo text-left">
									<li>
	                                    <a [routerLink]="['/admin-panel/detalle-reserva-tour', reserva._id]"><h4><span class="glyphicon glyphicon-eye-open"></span> VER</h4></a><br>
							            <a href="/admin-panel/listado-reservas" (click)="deleteReservaTour(reserva._id)"><h4><span class="glyphicon glyphicon-trash"></span> CANCELAR</h4></a>
									</li>
								</ul>
							</td>						
						</tr>					
					</tbody>
				</table>
			</div>
		</section>
		<section class="blockSection">
			<div class="dashboardPageTitle">
				<h2>Todas las Reservas de Hoteles</h2>
			</div>
			<div class="table-responsive"  data-pattern="priority-columns">
				<table class="table listingsTable">
					<tbody>
						<tr class="rowItem" *ngFor="let reserva of reservashotels">
							<td class="dateTd">
								<div class="date">
									{{ reserva.fechaentrada | date : "dd" }} <span>{{ reserva.fechaentrada | date : "MMM" }}</span>
								</div>
							</td>
							<td class="iconTd">
								<div class="icon br-orange">
									<i class="fa fa-hotel" aria-hidden="true"></i>
								</div>
							</td>
							<td class="packageTd">
								<ul class="list-inline listingsInfo">
									<li>
										<h4><a href="#">{{ reserva.hotel.nombre}}</a></h4>
			    						<p>{{ reserva.numAdultos }} Adultos /  {{ reserva.numInfantiles }} Niños</p>
									</li>
								</ul>
							</td>
							<td class="iconTd">
								<ul class="list-inline listingsInfo text-right">
									<li>
										<h3>{{ reserva.preciototal }}€</h3>
	            						
									</li>
								</ul>
							</td>
							<td class="bookingTd">
							    <ul class="list-inline listingsInfo text-left">
									<li>
										<h4>ID RESERVA</h4>
							            <p>{{ reserva._id }}</p>
							            <h4>FECHA COMPRA</h4>
							            <p>{{ reserva.fechaventa | date : shortDate }}</p>
									</li>
								</ul>
							</td>
							<td class="bookingTd">
						        <ul class="list-inline listingsInfo text-left">
									<li>
	                                    <a [routerLink]="['/admin-panel/detalle-reserva-hotel', reserva._id]"><h4><span class="glyphicon glyphicon-eye-open"></span> VER</h4></a><br>
							            <a href="/admin-panel/listado-reservas" (click)="deleteReservaHotel(reserva._id)"><h4><span class="glyphicon glyphicon-trash"></span> CANCELAR</h4></a>
									</li>
								</ul>
							</td>						
						</tr>					
					</tbody>
				</table>
			</div>
		</section>
    </div>
</div>
