	<div *ngIf="hotel">
		<!-- PAGE TITLE -->
    <!-- <section class="pageTitle" style="background-image:url(/assets/img/pages/page-title-bg13.jpg);"> -->
    	<section class="pageTitle" style="background-image:url(/assets/img/pages/page-title-bg13.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="titleTable">
              <div class="titleTableInner">
                <div class="pageTitleInfo">
                  <h1>{{ hotel.nombre }}</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
		<!-- PAGE CONTENT -->
    <section class="mainContentSection singleHotel">
      <div class="container">
        <div class="row ">
          <div class="col-sm-8 col-xs-12 col-sm-push-4">
            <div class="row">
              <div class="col-xs-12" *ngIf="hotel.image && hotel.image != 'null'">
                <div id="package-carousel" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#package-carousel" data-slide-to="0" class=""></li>
                    <li data-target="#package-carousel" data-slide-to="1" class=""></li>
                    <li data-target="#package-carousel" data-slide-to="2" class="active"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="item active">
                      <img alt="Second slide" src="{{ url + 'get-image-hotel/' + hotel.image }}">
                    </div>
                    <div class="item ">
                      <img alt="Third slide" src="{{ url + 'get-image-hotel/' + hotel.image }}">
                    </div>
                    <div class="item ">
                      <img alt="Third slide" src="{{ url + 'get-image-hotel/' + hotel.image }}">
                    </div>
                  </div>
                  <a class="left carousel-control" href="#package-carousel" data-slide="prev"><span class="glyphicon glyphicon-menu-left"></span></a>
                  <a class="right carousel-control" href="#package-carousel" data-slide="next"><span class="glyphicon glyphicon-menu-right"></span></a>
                </div>
              </div>
            </div>
						<div class="row">
              <div class="col-xs-12">
                <div class="description-aria">
                  <div class="sectionTitle1">
                    <h2>{{ hotel.nombre }}</h2>
                  </div>                  	
                  <div class="sectionTitle2">
                    <h2>Descripcion</h2>
                    <p>{{ hotel.descripcion }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="rooms-types-aria">
                  <div class="sectionTitle2">
                    <h2>Tipos de habitacion</h2>
                    <p>descripcion de las habitaciones</p>
                  </div>
                  <div class="roomCategory">
                    <div class="sub-title">
                      <h4>Habitacion Doble</h4>
                      <p>{{ hotel.extras }}</p>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-sm-9">
                        <ul class="roomAdvantage">
                          <li><a href="#"><img src="/assets/img//packages/shape-icon-1.png" alt="Image">Breakfast</a></li>
                          <li><a href="#"><img src="/assets/img/packages/shape-icon-2.png" alt="Image">Plasma TV</a></li>
                          <li><a href="#"><img src="/assets/img/packages/shape-icon-3.png" alt="Image">Free wifi</a></li>
                        </ul>
                      </div>
                      <div class="col-xs-12 col-sm-3">
                        <div class="roomRate">
                          Por Noche: <span>{{ hotel.preciodoble }}€</span>
                        </div>
                      </div>
                    </div>
                    <div class="roomGellary">
                      <div class="single-item">
                        <a class="fancybox-pop" rel="portfolio-1" href="/assets/img/hotels/hotel-list-01.jpg">
                          <img src="/assets/img/hotels/hotel-list-01.jpg" alt="Double Room">
                        </a>
                      </div>
                      <div class="single-item">
                        <a class="fancybox-pop" rel="portfolio-1" href="/assets/img/hotels/hotel-list-02.jpg">
                          <img src="/assets/img/hotels/hotel-list-02.jpg" alt="Double Room">
                        </a>
                      </div>
                      <div class="single-item">
                        <a class="fancybox-pop" rel="portfolio-1" href="/assets/img/hotels/hotel-list-03.jpg">
                          <img src="/assets/img/hotels/hotel-list-03.jpg" alt="Double Room">
                        </a>
                      </div>
                      <div class="single-item">
                        <a class="fancybox-pop" rel="portfolio-1" href="/assets/img/hotels/hotel-list-04.jpg">
                          <img src="/assets/img/hotels/hotel-list-04.jpg" alt="Double Room">
                        </a>
                      </div>
                      <div class="single-item">
                        <a class="fancybox-pop" rel="portfolio-1" href="/assets/img/hotels/hotel-list-05.jpg">
                          <img src="/assets/img/hotels/hotel-list-05.jpg" alt="Double Room">
                        </a>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="roomCategory">
                    <div class="sub-title">
                      <h4>Habitacion Simple</h4>
                      <p>{{ hotel.extras }}</p>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-sm-9">
                        <ul class="roomAdvantage">
                          <li><a href="#"><img src="/assets/img//packages/shape-icon-1.png" alt="Image">Breakfast</a></li>
                          <li><a href="#"><img src="/assets/img/packages/shape-icon-2.png" alt="Image">Plasma TV</a></li>
                          <li><a href="#"><img src="/assets/img/packages/shape-icon-3.png" alt="Image">Free wifi</a></li>
                        </ul>
                      </div>
                      <div class="col-xs-12 col-sm-3">
                        <div class="roomRate">
                          Por Noche: <span>{{ hotel.preciosimple }}€</span>
                        </div>
                      </div>
                    </div>
                    <div class="roomGellary">
                      <div class="single-item">
                        <a class="fancybox-pop" rel="portfolio-1" href="/assets/img/hotels/hotel-list-01.jpg">
                          <img src="/assets/img/hotels/hotel-list-01.jpg" alt="Double Room">
                        </a>
                      </div>
                      <div class="single-item">
                        <a class="fancybox-pop" rel="portfolio-1" href="/assets/img/hotels/hotel-list-02.jpg">
                          <img src="/assets/img/hotels/hotel-list-02.jpg" alt="Double Room">
                        </a>
                      </div>
                      <div class="single-item">
                        <a class="fancybox-pop" rel="portfolio-1" href="/assets/img/hotels/hotel-list-03.jpg">
                          <img src="/assets/img/hotels/hotel-list-03.jpg" alt="Double Room">
                        </a>
                      </div>
                      <div class="single-item">
                        <a class="fancybox-pop" rel="portfolio-1" href="/assets/img/hotels/hotel-list-04.jpg">
                          <img src="/assets/img/hotels/hotel-list-04.jpg" alt="Double Room">
                        </a>
                      </div>
                      <div class="single-item">
                        <a class="fancybox-pop" rel="portfolio-1" href="/assets/img/hotels/hotel-list-05.jpg">
                          <img src="/assets/img/hotels/hotel-list-05.jpg" alt="Double Room">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="location-aria">
                     <ul class="list-inline detailsBtn">
                        <li><span class="btn buttonTransparent">Categoria {{ hotel.categoria }} <i class="fa fa-star" aria-hidden="true"></i> </span></li>
                        <li><span class="btn buttonTransparent">Num. Habitaciones {{ hotel.numhabitaciones }} <i class="fa fa-bed" aria-hidden="true"></i> </span></li>
                        <li><span class="btn buttonTransparent">Descuento {{ hotel.descuento }} <i class="fa fa-percent" aria-hidden="true"></i> </span></li>
                      </ul>
                </div>
              </div>
            </div>
          </div>
          <aside class="col-sm-4 col-xs-12 col-sm-pull-8">
            <div class="singleCartSidebar">
              <div class="panel panel-default">
                <div class="panel-heading">Consulta Disponibilidad</div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-12">
                      <form class="form-horizontal">
                        <div class="form-group">
                          <label class="control-label col-md-4 col-sm-12 col-xs-4" for="inputSuccess3">Entrada:</label>
                          <div class="col-md-8 col-sm-12 col-xs-8 datepickerWrap">
                            <div class="input-group date ed-datepicker filterDate" data-provide="datepicker">
                              <input type="text" class="form-control" placeholder="MM/DD/YYYY">
                              <div class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-4 col-sm-12 col-xs-4" for="inputSuccess3">Salida:</label>
                          <div class="col-md-8 col-sm-12 col-xs-8 datepickerWrap">
                            <div class="input-group date ed-datepicker filterDate" data-provide="datepicker">
                              <input type="text" class="form-control" placeholder="MM/DD/YYYY">
                              <div class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-4 col-sm-12 col-xs-4" for="inputSuccess3">Hab.:</label>
                          <div class="col-md-8 col-sm-12 col-xs-8 datepickerWrap">
                            <div class="searchFilter">
                              <select name="guiest_id3" id="guiest_id3" class="select-drop">
                                <option value="0">Doble</option>
                                <option value="1">Simple</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-5 col-sm-12 col-xs-4" >Adultos:</label>
                          <div class="col-md-5 col-sm-12 col-xs-6 datepickerWrap">
                            <div class="count-input">
                              <a class="incr-btn" data-action="decrease" href="#">–</a>
                              <input class="quantity" type="text" value="1">
                              <a class="incr-btn" data-action="increase" href="#">+</a>
                              </div>
                          </div>
                          <div class="col-md-2 col-sm-12 col-xs-2">
                            <p class="price">99€</p>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-5 col-sm-12 col-xs-4">Niños:</label>
                          <div class="col-md-5 col-sm-12 col-xs-6 datepickerWrap">
                            <div class="count-input">
                              <a class="incr-btn" data-action="decrease" href="#">–</a>
                              <input class="quantity" type="text" value="0">
                              <a class="incr-btn" data-action="increase" href="#">+</a>
                              </div>
                          </div>
                          <div class="col-md-2 col-sm-12 col-xs-2">
                            <p class="price">59€</p>
                          </div>
                        </div>
                        <div class="totalCost">
                          <div class="col-xs-8 totalCostLeft">
                            <p>Total Cost</p>
                          </div>
                          <div class="col-xs-4 totalCostRight">$198</div>
                        </div>
                        <div class="col-sm-12">
                          <a href="#" class="btn btn-block buttonTransparent">Check now <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </section>