	<div *ngIf="hotel">
		<!-- PAGE TITLE -->
    <!-- <section class="pageTitle" style="background-image:url(/assets/img/pages/page-title-bg13.jpg);"> -->
    	<section class="pageTitle" style="background-image:url(/assets/img/pages/page-title-bg13.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="titleTable">
              <div class="titleTableInner">
                <div class="pageTitleInfo">
                  <h1>{{ hotel.nombre }}</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
		<!-- PAGE CONTENT -->
    <section class="mainContentSection singleHotel">
      <div class="container">
        <div class="row ">
          <div class="col-sm-8 col-xs-12 col-sm-push-4">
            <div class="row">
              <div class="col-xs-12" *ngIf="hotel.image && hotel.image != 'null'">
                <div id="package-carousel" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#package-carousel" data-slide-to="0" class=""></li>
                    <li data-target="#package-carousel" data-slide-to="1" class=""></li>
                    <li data-target="#package-carousel" data-slide-to="2" class="active"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="item active">
                      <img alt="Second slide" src="{{ url + 'get-image-hotel/' + hotel.image }}">
                    </div>
                    <div class="item ">
                      <img alt="Third slide" src="{{ url + 'get-image-hotel/' + hotel.image }}">
                    </div>
                    <div class="item ">
                      <img alt="Third slide" src="{{ url + 'get-image-hotel/' + hotel.image }}">
                    </div>
                  </div>
                  <a class="left carousel-control" href="#package-carousel" data-slide="prev"><span class="glyphicon glyphicon-menu-left"></span></a>
                  <a class="right carousel-control" href="#package-carousel" data-slide="next"><span class="glyphicon glyphicon-menu-right"></span></a>
                </div>
              </div>
            </div>
						<div class="row">
              <div class="col-xs-12">
                <div class="description-aria">
                  <div class="sectionTitle1">
                    <h2>{{ hotel.nombre }}</h2>
                  </div>                  	
                  <div class="sectionTitle2">
                    <h2>Descripcion</h2>
                    <p>{{ hotel.descripcion }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="rooms-types-aria">
                  <div class="sectionTitle2">
                    <h2>Tipos de habitacion</h2>
                    <p>descripcion de las habitaciones</p>
                  </div>
                  <div class="roomCategory">
                    <div class="sub-title">
                      <h4>Habitacion Doble</h4>
                      <p>{{ hotel.extras }}</p>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-sm-9">
                        <ul class="roomAdvantage">
                          <li><a href="#"><img src="/assets/img//packages/shape-icon-1.png" alt="Image">Breakfast</a></li>
                          <li><a href="#"><img src="/assets/img/packages/shape-icon-2.png" alt="Image">Plasma TV</a></li>
                          <li><a href="#"><img src="/assets/img/packages/shape-icon-3.png" alt="Image">Free wifi</a></li>
                        </ul>
                      </div>
                      <div class="col-xs-12 col-sm-3">
                        <div class="roomRate">
                          Por Noche: <span>{{ hotel.preciodoble }}€</span>
                        </div>
                      </div>
                    </div>
                    <div class="roomGellary">
                      <div class="single-item">
                        <a class="fancybox-pop" rel="portfolio-1" href="/assets/img/hotels/hotel-list-01.jpg">
                          <img src="/assets/img/hotels/hotel-list-01.jpg" alt="Double Room">
                        </a>
                      </div>
                      <div class="single-item">
                        <a class="fancybox-pop" rel="portfolio-1" href="/assets/img/hotels/hotel-list-02.jpg">
                          <img src="/assets/img/hotels/hotel-list-02.jpg" alt="Double Room">
                        </a>
                      </div>
                      <div class="single-item">
                        <a class="fancybox-pop" rel="portfolio-1" href="/assets/img/hotels/hotel-list-03.jpg">
                          <img src="/assets/img/hotels/hotel-list-03.jpg" alt="Double Room">
                        </a>
                      </div>
                      <div class="single-item">
                        <a class="fancybox-pop" rel="portfolio-1" href="/assets/img/hotels/hotel-list-04.jpg">
                          <img src="/assets/img/hotels/hotel-list-04.jpg" alt="Double Room">
                        </a>
                      </div>
                      <div class="single-item">
                        <a class="fancybox-pop" rel="portfolio-1" href="/assets/img/hotels/hotel-list-05.jpg">
                          <img src="/assets/img/hotels/hotel-list-05.jpg" alt="Double Room">
                        </a>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="roomCategory">
                    <div class="sub-title">
                      <h4>Habitacion Simple</h4>
                      <p>{{ hotel.extras }}</p>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-sm-9">
                        <ul class="roomAdvantage">
                          <li><a href="#"><img src="/assets/img//packages/shape-icon-1.png" alt="Image">Breakfast</a></li>
                          <li><a href="#"><img src="/assets/img/packages/shape-icon-2.png" alt="Image">Plasma TV</a></li>
                          <li><a href="#"><img src="/assets/img/packages/shape-icon-3.png" alt="Image">Free wifi</a></li>
                        </ul>
                      </div>
                      <div class="col-xs-12 col-sm-3">
                        <div class="roomRate">
                          Por Noche: <span>{{ hotel.preciosimple }}€</span>
                        </div>
                      </div>
                    </div>
                    <div class="roomGellary">
                      <div class="single-item">
                        <a class="fancybox-pop" rel="portfolio-1" href="/assets/img/hotels/hotel-list-01.jpg">
                          <img src="/assets/img/hotels/hotel-list-01.jpg" alt="Double Room">
                        </a>
                      </div>
                      <div class="single-item">
                        <a class="fancybox-pop" rel="portfolio-1" href="/assets/img/hotels/hotel-list-02.jpg">
                          <img src="/assets/img/hotels/hotel-list-02.jpg" alt="Double Room">
                        </a>
                      </div>
                      <div class="single-item">
                        <a class="fancybox-pop" rel="portfolio-1" href="/assets/img/hotels/hotel-list-03.jpg">
                          <img src="/assets/img/hotels/hotel-list-03.jpg" alt="Double Room">
                        </a>
                      </div>
                      <div class="single-item">
                        <a class="fancybox-pop" rel="portfolio-1" href="/assets/img/hotels/hotel-list-04.jpg">
                          <img src="/assets/img/hotels/hotel-list-04.jpg" alt="Double Room">
                        </a>
                      </div>
                      <div class="single-item">
                        <a class="fancybox-pop" rel="portfolio-1" href="/assets/img/hotels/hotel-list-05.jpg">
                          <img src="/assets/img/hotels/hotel-list-05.jpg" alt="Double Room">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="location-aria">
                     <ul class="list-inline detailsBtn">
                        <li><span class="btn buttonTransparent">Categoria {{ hotel.categoria }} <i class="fa fa-star" aria-hidden="true"></i> </span></li>
                        <li><span class="btn buttonTransparent">Num. Habitaciones {{ hotel.numhabitaciones }} <i class="fa fa-bed" aria-hidden="true"></i> </span></li>
                        <li><span class="btn buttonTransparent">Descuento {{ hotel.descuento }} <i class="fa fa-percent" aria-hidden="true"></i> </span></li>
                      </ul>
                </div>
              </div>
            </div>
          </div>
          <aside class="col-sm-4 col-xs-12 col-sm-pull-8">
            <div class="singleCartSidebar">
              <div class="panel panel-default">
                <div class="panel-heading">Consulta Disponibilidad</div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-12">
                      <form class="form-horizontal" #bookingFormHotel="ngForm" (ngSubmit)="addReserva();">
                        <div class="form-group">
                          <label class="control-label col-md-4 col-sm-12 col-xs-4" for="inputSuccess3">Entrada:</label>
                          <div class="col-md-8 col-sm-12 col-xs-8 datepickerWrap">
                            <input type="date" class="form-control" name="fechaentrada" #fechaentrada="ngModel" [(ngModel)]="reservahotel.fechaentrada" required>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-4 col-sm-12 col-xs-4" for="inputSuccess3">Salida:</label>
                          <div class="col-md-8 col-sm-12 col-xs-8 datepickerWrap">
                            <input type="date" class="form-control" name="fechasalida" #fechasalida="ngModel" [(ngModel)]="reservahotel.fechasalida" required>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-5 col-sm-12 col-xs-4" >Dobles:</label>
                          <div class="col-md-5 col-sm-12 col-xs-6 datepickerWrap">
                            <div class="count-input" *ngIf="numHabitacioneDobles>0">
                              <a class="incr-btn"data-action="decrease" (click)="disminuirCantidad('dobles')">–</a>
                              <input name="numhabitacionesdobles" #numhabitacionesdobles="ngModel" [(ngModel)]="reservahotel.numhabitacionesdobles" class="quantity" type="number" value="0" min="0" >
                              <a class="incr-btn" data-action="increase" (click)="aumentarCantidad('dobles')">+</a>
                            </div>
                            <div class="count-input" *ngIf="numHabitacioneDobles<=0" >
                              <a class="incr-btn">–</a>
                              <input name="numhabitacionesdobles" #numhabitacionesdobles="ngModel" [(ngModel)]="reservahotel.numhabitacionesdobles" class="quantity" type="number" value="0" min="0" >
                              <a class="incr-btn" data-action="increase" (click)="aumentarCantidad('dobles')">+</a>
                            </div>                            
                          </div>
<!--                           <div class="col-md-2 col-sm-12 col-xs-2">
                            <p class="price">{{ hotel.preciodoble }}€</p>
                          </div> -->
                        </div> 

                        <div class="form-group">
                          <label class="control-label col-md-5 col-sm-12 col-xs-4" >Simples:</label>
                          <div class="col-md-5 col-sm-12 col-xs-6 datepickerWrap">
                            <div class="count-input" *ngIf="numHabitacioneSimple>0">
                              <a class="incr-btn"data-action="decrease" (click)="disminuirCantidad('simple')">–</a>
                              <input name="numhabitacionessimples" #numhabitacionessimples="ngModel" [(ngModel)]="reservahotel.numhabitacionessimples" class="quantity" type="number" value="0" min="0" >
                              <a class="incr-btn" data-action="increase" (click)="aumentarCantidad('simple')">+</a>
                            </div>
                            <div class="count-input" *ngIf="numHabitacioneSimple<=0" >
                              <a class="incr-btn">–</a>
                              <input name="numhabitacionessimples" #numhabitacionessimples="ngModel" [(ngModel)]="reservahotel.numhabitacionessimples" class="quantity" type="number" value="0" min="0" >
                              <a class="incr-btn" data-action="increase" (click)="aumentarCantidad('simple')">+</a>
                            </div>                            
                          </div>
<!--                           <div class="col-md-2 col-sm-12 col-xs-2">
                            <p class="price">{{ hotel.preciosimple }}€</p>
                          </div> -->
                        </div>                        
                        <div class="form-group">
                          <label class="control-label col-md-5 col-sm-12 col-xs-4" >Adultos:</label>
                          <div class="col-md-5 col-sm-12 col-xs-6 datepickerWrap">
                            <div class="count-input" *ngIf="numAdulto>0">
                              <a class="incr-btn" data-action="decrease" (click)="disminuirCantidad('adulto')">–</a>
                              <input name="numAdultos" #numAdultos="ngModel" [(ngModel)]="reservahotel.numAdultos" class="quantity" type="number" value="0" min="0" >
                              <a class="incr-btn" data-action="increase" (click)="aumentarCantidad('adulto')">+</a>
                            </div>
                            <div class="count-input" *ngIf="numAdulto<=0" >
                              <a class="incr-btn">–</a>
                              <input name="numAdultos" #numAdultos="ngModel" [(ngModel)]="reservahotel.numAdultos" class="quantity" type="number" value="0" min="0" >
                              <a class="incr-btn" data-action="increase" (click)="aumentarCantidad('adulto')">+</a>
                            </div>                            
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-5 col-sm-12 col-xs-4">Niños:</label>
                          <div class="col-md-5 col-sm-12 col-xs-6 datepickerWrap">
                            <div class="count-input" *ngIf="numInfantil>0">
                              <a class="incr-btn" data-action="decrease" (click)="disminuirCantidad('infantil')">–</a>
                              <input name="numInfantiles" #numInfantiles="ngModel" [(ngModel)]="reservahotel.numInfantiles" class="quantity" type="number" value="0" min="0">
                              <a class="incr-btn" data-action="increase" (click)="aumentarCantidad('infantil')">+</a>
                            </div>
                            <div class="count-input" *ngIf="numInfantil<=0" >
                              <a class="incr-btn">–</a>
                              <input name="numInfantiles" #numInfantiles="ngModel" [(ngModel)]="reservahotel.numInfantiles" class="quantity" type="number" value="0" min="0" >
                              <a class="incr-btn" data-action="increase" (click)="aumentarCantidad('infantil')">+</a>
                            </div>                                
                          </div>
                        </div>
                        <div class="totalCost">
                          <div class="col-xs-8 totalCostLeft">
                            <p>Precio</p>
                          </div>
                          <div class="col-xs-4 totalCostRight">{{ this.precioTotal }}€</div>
                        </div>
                        <div class="totalCost">
                          <div class="col-xs-8 totalCostLeft">
                            <p>Descuento </p>
                          </div>
                          <div class="col-xs-4 totalCostRight">{{ hotel.descuento }}%</div>
                        </div>   
                        <div class="totalCost">
                          <div class="col-xs-8 totalCostLeft">
                            <p>Total </p>
                          </div>
                          <div class="col-xs-4 totalCostRight">{{ this.precioTotal - this.precioTotalDescuento }}€</div>
                        </div>                                              
                        <div class="col-sm-12" *ngIf="identidad && identidad.role == 'ROLE_USER'">
                          <!-- <a [disabled]="!bookingForm.form.valid" class="btn btn-block buttonTransparent" (click)="hacerReserva()">Haz tu reserva <i class="fa fa-angle-right" aria-hidden="true"></i></a> -->
                          <button [disabled]="!bookingFormHotel.form.valid" class="btn buttonTransparent" type="submit">Haz tu reserva</button>
                        </div>
                        <div class="col-sm-12" *ngIf="!identidad || identidad.role != 'ROLE_USER'">
                          <a class="btn btn-block buttonTransparent" disabled>Eres Admin</a>
                        </div>                        
                      </form>
                    </div>
                    <div class="col-xs-12" *ngIf="!identidad">
                      <div class="totalCost">
                        <div class="col-xs-12 totalCostLeft">
                          <p>DEBES ACCEDER A TU CUENTA PARA PODER RESERVAR</p>
                        </div>
                      </div>  
                      <div class="totalCost">
                        <div class="col-xs-12 totalCostRight">Acceder</div>
                      </div>                                             
                    </div>
                  </div>
                </div>
              </div>
              <div class="alert alert-success" *ngIf="status == 'success'">
                Reserva realizada correctamente
              </div>
              <div class="alert alert-danger" *ngIf="status == 'error'">
                No se ha realizado la reserva
              </div>
            </div>
          </aside>
        </div>
      </div>
    </section>