    
    <app-fondo-busqueda-destinos></app-fondo-busqueda-destinos>
    <app-seccion-tours></app-seccion-tours>
    <app-ofertas-viajes></app-ofertas-viajes>
    <app-top-hoteles></app-top-hoteles>
    <app-zona-video></app-zona-video>
    <app-top-destinos></app-top-destinos>
    <app-zona-venta-paquetes></app-zona-venta-paquetes>
    <app-consejos-viajes></app-consejos-viajes>
    <app-slider-marcas></app-slider-marcas>
    <app-videomodal></app-videomodal>
    <app-footer></app-footer>
    <app-login></app-login>
    <app-registro></app-registro>