

<!-- Signup Modal -->

<div class="modal fade signupLoging" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content modalContentCustom">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeBtn><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Crea tu Cuenta</h4>
      </div>

      <div class="alert alert-success" *ngIf="status == 'success'">
        Registro realizado correctamente
      </div>

      <div class="alert alert-danger" *ngIf="status == 'error'">
        No se ha realizado el registro correctamente
      </div>


      <div class="modal-body">
        <form #registroForm="ngForm" (ngSubmit)="onSubmit();" id="form-producto">
          <div class="form-group">
            
            <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="usuario.nombre" class="form-control bg-ash" placeholder="Nombre" required>
          </div>
          <div class="form-group">
            
            <input type="text" name="apellidos" #apellidos="ngModel" [(ngModel)]="usuario.apellidos" class="form-control bg-ash" placeholder="Apellidos" required>
          </div>
          <div class="form-group">
            
            <input type="text" name="direccion" #direccion="ngModel" [(ngModel)]="usuario.direccion" class="form-control bg-ash" placeholder="Direccion" required>
          </div>
          <div class="form-group">
            
            <input type="text" name="cp" #cp="ngModel" [(ngModel)]="usuario.cp" class="form-control bg-ash" placeholder="Codigo Postal" required>
          </div>        

          <div class="form-group">
            <input type="text" name="telefono" #telefono="ngModel" [(ngModel)]="usuario.telefono" class="form-control bg-ash" placeholder="Telefono" required>
          </div>
          <div class="form-group">
            <input type="email" name="email" #email="ngModel" [(ngModel)]="usuario.email" class="form-control bg-ash" placeholder="Email" required>
          </div>      
          <div class="form-group">
            <input type="password" name="password" #password="ngModel" [(ngModel)]="usuario.password" class="form-control bg-ash" placeholder="Password" required>
          </div>
          <br />
          <input type="submit" value="Registro" [disabled]="!registroForm.form.valid" class="btn btn-default">
        </form>

  
      </div>

    </div>
  </div>
</div>