
<h4>LISTADO DE USUARIOS</h4>
<table >
  <thead>
    <tr>
      <th width="150">ID</th>
      <th width="150">NOMBRE</th>
      <th width="15%">APELLIDOS</th>
      <th width="15%">DIRECCION</th>
      <th width="15%">TELEFONO</th>
      <th width="15%">EMAIL</th>
      <th width="15%">USUARIO</th>
      <th width="15%">PASSWORD</th>
      <th width="15%">ROL</th>
      <th width="15%">CIUDAD</th>
      <th width="15%">PAIS</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of usuarios.Clientes">
      <td width="150" align="center">
        {{user.idcliente}}
      </td>
      <td width="150" align="center">
        {{user.nom_cli}}
      </td>
      <td align="center">
        {{user.apell__cli}}
      </td>
      <td align="center">
        {{user.direc_cli}}
      </td>
      <td align="center">
        {{user.tel_cli}}
      </td>
      <td align="center">
        {{user.email_cli}}
      </td>
      <td align="center">
        {{user.usuario}}
      </td>
      <td align="center">
        {{user.password}}
      </td>
      <td align="center">
        {{user.rol}}
      </td>
      <td align="center">
        {{user.id_ciudad}}
      </td>
      <td align="center">
        {{user.cp_cliente}}
      </td>                   
    </tr>
  </tbody>
</table>