<!-- Login Modal -->
<div class="modal fade signupLoging" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content modalContentCustom">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeBtn><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Accede a tu cuenta</h4>
      </div>

      <div class="alert alert-success" *ngIf="status == 'success'">
        Login correcto
      </div>

      <div class="alert alert-danger" *ngIf="status == 'error'">
        No te has identificado correctamente
      </div>


      <div class="modal-body">
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input type="email" #emaillogin="ngModel" [(ngModel)]="usuario.email" class="form-control bg-ash" placeholder="Email" name="emaillogin" required>
            <span *ngIf="!emaillogin.valid && emaillogin.touched">El email es obligatorio</span>
          </div>
          <div class="form-group">
            <input type="password" #passwordlogin="ngModel" [(ngModel)]="usuario.password" class="form-control bg-ash" placeholder="Password" name="passwordlogin" required>
            <span *ngIf="!passwordlogin.valid && passwordlogin.touched">El password es obligatorio</span>
          </div>
<!--           <div class="checkbox">
            <label>
              <input type="checkbox"> Recuerdame
            </label>
            <a class="forgotPass clerfix" href="">Olvidaste el Password?</a>
          </div> -->
          <button type="submit" class="btn btn-default">Acceder</button>
        </form>
      </div>

      <div class="modal-footer">
          <div class="dontHaveAccount">
            <p>Aún no tienes una cuenta?<a data-target="#signup" data-toggle="modal" href=""> Regístrate</a></p>
          </div>
      </div>
    </div>
  </div>
</div>
