<!-- Login Modal -->
<div class="modal fade signupLoging" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content modalContentCustom">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Accede a tu cuenta</h4>
      </div>
      <div class="modal-body">
        <form >
          <div class="form-group">
            <input type="email" class="form-control bg-ash" id="email" placeholder="Email" name="email" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control bg-ash" id="password" placeholder="Password" name="password" required>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Recuerdame
            </label>
            <a class="forgotPass clerfix" href="">Olvidaste el Password?</a>
          </div>
          <button type="submit" class="btn btn-default">Acceder</button>
        </form>
      </div>

      <div class="modal-footer">
          <div class="dontHaveAccount">
            <p>Aún no tienes una cuenta?<a href=""> Regístrate</a></p>
          </div>
      </div>
    </div>
  </div>
</div>