<!-- TOP DESTINATION SECTION -->
<section class="topDestinationSection ptb-100">
  <div class="container">
    <div class="sectionTitleHomeCity">
      <h2>top destination</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class="row">
      <div class="col-sm-2 col-xs-6">
        <div class="destinationContent">
          <a href="destination-single-city.html"><img src="img/home-destination/destination/destination-img-01.jpg" alt="Image">
            <h5>Australia</h5>
            <p>Opera House</p>
          </a>
        </div>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="destinationContent">
          <a href="destination-single-city.html">
            <img src="img/home-destination/destination/destination-img-02.jpg" alt="Image">
            <h5>America</h5>
            <p>Statue of Liberty</p>
          </a>
        </div>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="destinationContent">
          <a href="destination-single-city.html">
            <img src="img/home-destination/destination/destination-img-03.jpg" alt="Image">
            <h5>London</h5>
            <p>Big Ben Watch</p>
          </a>
        </div>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="destinationContent">
          <a href="destination-single-city.html">
            <img src="img/home-destination/destination/destination-img-04.jpg" alt="Image">
            <h5>Russia</h5>
            <p>Moxco Tower</p>
          </a>
        </div>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="destinationContent">
          <a href="destination-single-city.html">
            <img src="img/home-destination/destination/destination-img-05.jpg" alt="Image">
            <h5>India</h5>
            <p>Tajmahal</p>
          </a>
        </div>
      </div>
      <div class="col-sm-2 col-xs-6">
        <div class="destinationContent">
          <a href="destination-single-city.html">
            <img src="img/home-destination/destination/destination-img-06.jpg" alt="Image">
            <h5>France</h5>
            <p>Eiffel Tower</p>
            </a>
        </div>
      </div>
    </div>
  </div>
</section>