	<div *ngIf="tour">
		<!-- PAGE TITLE -->
    <!-- <section class="pageTitle" style="background-image:url(/assets/img/pages/page-title-bg13.jpg);"> -->
    	<section class="pageTitle" style="background-image:url(/assets/img/pages/page-title-bg13.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="titleTable">
              <div class="titleTableInner">
                <div class="pageTitleInfo">
                  <h1>{{ tour.nombre }}</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- PAGE CONTENT -->
    <section class="mainContentSection singlePackage">
      <div class="container">
        <div class="row ">
          <div class="col-sm-8 col-xs-12 col-sm-push-4">
            <div class="row">
              <div class="col-xs-12" *ngIf="tour.image && tour.image != 'null'">
                <div id="package-carousel" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#package-carousel" data-slide-to="0" class=""></li>
                    <li data-target="#package-carousel" data-slide-to="1" class=""></li>
                    <li data-target="#package-carousel" data-slide-to="2" class="active"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="item active">
                      <img alt="Second slide" src="{{ url + 'get-image-tour/' + tour.image }}">
                    </div>
                    <div class="item ">
                      <img alt="Third slide" src="{{ url + 'get-image-tour/' + tour.image }}">
                    </div>
                    <div class="item ">
                      <img alt="Third slide" src="{{ url + 'get-image-tour/' + tour.image }}">
                    </div>
                  </div>
                  <a class="left carousel-control" href="#package-carousel" data-slide="prev"><span class="glyphicon glyphicon-menu-left"></span></a>
                  <a class="right carousel-control" href="#package-carousel" data-slide="next"><span class="glyphicon glyphicon-menu-right"></span></a>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="description-aria">
                  <div class="sectionTitle1">
                    <h2>{{ tour.nombre }}</h2>
                  </div>                  
                  <div class="sectionTitle2">
                    <h2>Descripcion</h2>
                    <p>{{ tour.descripcion }}</p>
                  </div>
                  <div class="information-aria">
                    <h3>Programa</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                    <div class="singleContent">
                      <div class="media">
                        <div class="media-body">
                          <h4 class="media-heading">Diario de información</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="media-right">
                          <div class="days">{{ tour.diastour}} dias</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="location-aria">

                     <ul class="list-inline detailsBtn">
                        <li><span class="btn buttonTransparent">Inicio <i class="fa fa-calendar" aria-hidden="true"></i> {{ tour.fechainicio | date : shortDate }}</span></li>
                        <li><span class="btn buttonTransparent">Fin <i class="fa fa-calendar" aria-hidden="true"></i> {{ tour.fechafin | date : shortDate }}</span></li>
                        <li><span class="btn buttonTransparent"><i class="fa fa-eur" aria-hidden="true"></i> {{ tour.precio }}</span></li>
                        <li><span class="btn buttonTransparent"><i class="fa fa-percent" aria-hidden="true"></i> {{ tour.descuento }}</span></li>
                      </ul>
                </div>
               
              </div>
            </div>
          </div>

          <aside class="col-sm-4 col-xs-12 col-sm-pull-8">
            <div class="singleCartSidebar">
              <div class="panel panel-default">
                <div class="panel-heading">Booking</div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-12">
                      <form class="form-horizontal">
                        <div class="form-group">
                          <label class="control-label col-md-5 col-sm-12 col-xs-5" for="inputSuccess3">Selecciona una fecha:</label>
                          <div class="col-md-7 col-sm-12 col-xs-7 datepickerWrap">
                            <div class="input-group date ed-datepicker filterDate" data-provide="datepicker">
                              <input type="text" class="form-control" placeholder="MM/DD/YYYY">
                              <div class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-5 col-sm-12 col-xs-4" >Adultos:</label>
                          <div class="col-md-5 col-sm-12 col-xs-6 datepickerWrap">
                            <div class="count-input">
                              <a class="incr-btn" data-action="decrease" href="#">–</a>
                              <input class="quantity" type="text" value="1">
                              <a class="incr-btn" data-action="increase" href="#">+</a>
                              </div>
                          </div>
                          <div class="col-md-2 col-sm-12 col-xs-2">
                            <p class="price">99€</p>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-5 col-sm-12 col-xs-4">Niños:</label>
                          <div class="col-md-5 col-sm-12 col-xs-6 datepickerWrap">
                            <div class="count-input">
                              <a class="incr-btn" data-action="decrease" href="#">–</a>
                              <input class="quantity" type="text" value="0">
                              <a class="incr-btn" data-action="increase" href="#">+</a>
                              </div>
                          </div>
                          <div class="col-md-2 col-sm-12 col-xs-2">
                            <p class="price">59€</p>
                          </div>
                        </div>
                        <div class="totalCost">
                          <div class="col-xs-8 totalCostLeft">
                            <p>Total</p>
                          </div>
                          <div class="col-xs-4 totalCostRight">1500€</div>
                        </div>
                        <div class="col-sm-12">
                          <a href="#" class="btn btn-block buttonTransparent">Haz tu reserva <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </aside>          
        </div>
      </div>
    </section>
	</div>	    