    <!-- PAGE TITLE -->
    <section class="pageTitle" style="background-image:url(/assets/img/pages/page-title-bg14.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="titleTable">
              <div class="titleTableInner">
                <div class="pageTitleInfo">
                  <h1>{{ title }}</h1>
                  <div class="under-border"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- PAGE CONTENT -->
    <section class="mainContentSection blogSidebar recentActivitySection">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-xs-12">
            <aside>
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="list-group">
                    <a [routerLink]="['/admin-panel/listado']" class="list-group-item">Listado de Tours</a>
                    <a [routerLink]="['/admin-panel/crear']" class="list-group-item">Alta de Tours</a>
                    <a [routerLink]="['/admin-panel/listadohoteles']" class="list-group-item">Listado de Hoteles</a>
                    <a [routerLink]="['/admin-panel/crearhotel']" class="list-group-item">Alta de Hoteles</a>
                    <a [routerLink]="['/admin-panel/listado-reservas']" class="list-group-item">Listado de Reservas</a>
                    <a [routerLink]="['/admin-panel/listado-usuarios']" class="list-group-item">Listado de Usuarios</a>
                  </div>
                </div>
              </div>
            </aside>
          </div>
          <div class="col-sm-9 col-xs-12">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </section>
