<!-- FOOTER -->
<footer>
  <div class="footer clearfix footer-light">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <div class="footerContent">
            <a class="footer-logo" href="javascript:void(0)" routerLink ="/inicio"><img src="../../assets/img/logo-color-big.png" alt="footer-logo"></a>
            <p><a href="javascript:void(0)" routerLink ="/inicio">AG TOURS</a> ofrece de manera integral los servicios de Agencia de Viajes y Organizadora de Eventos con una larga trayectoria de éxitos a nivel local e internacional.</p>
            <ul class="list-inline">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="footerContent">
            <h5>Contacto</h5>
            <ul class="list-unstyled">
              <li><i class="fa fa-home" aria-hidden="true"></i>Calle paquito Barrero #166</li>
              <li><i class="fa fa-map-marker" aria-hidden="true"></i>Urbanización Maximo Gómez</li>
              <li><i class="fa fa-globe" aria-hidden="true"></i>Santo Domingo norte</li>
              <li><i class="fa fa-phone" aria-hidden="true"></i>809 569 9344</li>
              <li><i class="fa fa-mobile" aria-hidden="true"></i>829 791 1409</li>
              <li><i class="fa fa-mobile" aria-hidden="true"></i>829 716 3497</li>
              <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailTo:info@star-travel.com">agtourscvacaciones@hotmail.com</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2 col-xs-12">
          <div class="footerContent imgGallery">
            <h5>Más Visitado</h5>
            <ul class="list-item">
              <li><a href="">Tours</a></li>
              <li><a href="">Hoteles</a></li>
              <li><a href="">Destinos</a></li>
              <li><a href="">Galería</a></li>
              <li><a href="">Cuenta</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="copyRight clearfix">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-push-6 col-xs-12">

        </div>
        <div class="col-sm-6 col-sm-pull-6 col-xs-12">
          <div class="copyRightText">
            <p>Copyright © 2018. Todos los Derechos Reservados <a href="javascript:void(0)" routerLink ="/inicio">AG TOURS - Travels & Tours</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>